@charset "UTF-8";
/* =====ОБНУЛЕНИЕ СТИЛЕЙ===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./../fonts/Gilroy-Medium.woff2") format("woff2"), url("./../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("./../fonts/Circe-Light.woff") format("woff");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("./../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-main: #2B2E34;
  --color-white: #FFFFFF;
}

[class*=__container] {
  max-width: 1521px;
  margin: 0px auto;
}
@media (max-width: 415px) {
  [class*=__container] {
    max-width: 373px;
  }
}

.scroll-lock {
  overflow: hidden;
}

.body {
  font-family: "Euclid Circular A";
  font-weight: 400;
  font-style: normal;
  color: var(--color-main);
  background-color: #FBFBFB;
}

@media (max-width: 415px) {
  .header {
    position: relative;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 17px 0px 30px 0px;
}
@media (max-width: 415px) {
  .header__container {
    padding: 18px 0px 0px 0px;
  }
}
.header__upmenu {
  display: flex;
  align-items: center;
  padding-bottom: 47.11px;
}
@media (max-width: 415px) {
  .header__upmenu {
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
  }
}
@media (max-width: 415px) {
  .header__burger-img {
    width: 25px;
    height: 18px;
  }
}
.header__logo {
  margin-left: 76.62px;
}
@media (max-width: 415px) {
  .header__logo {
    margin: 0px 0px 0px 23px;
  }
}
.header__search {
  margin-left: 72px;
  width: 815px;
  height: 54px;
  background: url("./../img/icons/search.svg") no-repeat 30.88px center;
  background-color: #F7F7F7;
  padding: 0px 66px;
  font-size: 15px;
  line-height: 19px;
  color: #73737B;
}
@media (max-width: 415px) {
  .header__search {
    background: url("./../img/icons/search.svg") no-repeat 19.88px center;
    position: absolute;
    bottom: -70px;
    left: 0px;
    order: 4;
    width: 100vw;
    padding: 0px 0px 0px 55px;
    margin: 17px 0px 0px 0px;
  }
}
.header__buttons {
  margin-top: 2px;
  margin-left: 102px;
  display: flex;
  align-items: center;
}
.header__buttons a {
  transition: 0.4s;
}
.header__buttons a:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .header__buttons {
    margin: 0px 0px 0px 24px;
  }
}
.header__delivery {
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .header__delivery {
    margin: 0px 0px 0px 0px;
  }
}
.header__cabinet {
  margin-left: 35px;
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .header__cabinet {
    margin: 0px 0px 0px 16px;
  }
}
.header__cart {
  margin-left: 34px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__cart::before {
  position: absolute;
  right: -12px;
  top: -8px;
  display: block;
  content: "3";
  width: 16.12px;
  height: 16.12px;
  text-align: center;
  background: #1DBCD2;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 16.5px;
  color: var(--color-white);
}
@media (max-width: 415px) {
  .header__cart::before {
    display: none;
  }
}
@media (max-width: 415px) {
  .header__cart {
    margin: 0px 0px 0px 18px;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 18.38px;
  transition: 0.4s;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .logo__image {
    width: 25px;
    height: 36px;
  }
  .logo__image_footer {
    width: 42px;
    height: 65px;
  }
}
.logo__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__title {
  display: flex;
  align-items: center;
  margin-left: -1px;
}
@media (max-width: 415px) {
  .logo__title {
    width: 154px;
    height: 12px;
    margin-left: -10px;
  }
  .logo__title_footer {
    width: 231px;
    height: 17px;
  }
}
.logo__name {
  font-size: 13px;
  line-height: 16px;
  color: #555555;
  margin-top: 8px;
  margin-left: -1px;
}
@media (max-width: 415px) {
  .logo__name {
    display: none;
  }
  .logo__name_footer {
    display: block;
  }
}

.downmenu {
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .downmenu {
    display: none;
  }
}
.downmenu__items {
  display: flex;
  align-items: center;
}
.downmenu__item {
  transition: 0.4s;
}
.downmenu__item:hover {
  cursor: pointer;
  opacity: 0.7;
}
.downmenu__item_phone {
  margin-left: 168px;
}
.downmenu__item_mail {
  margin-left: 168px;
}
.downmenu__item_edit {
  margin-left: 168px;
}
.downmenu__item_contacts {
  margin-left: 165px;
}
.downmenu__item_contacts .downmenu__link {
  display: flex;
  align-items: center;
  gap: 13px;
}
.downmenu__link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.downmenu__icon {
  display: flex;
  align-items: center;
}
.downmenu__text {
  font-size: 18px;
  line-height: 23px;
  color: var(--color-main);
}

.banner {
  background: linear-gradient(91.79deg, #1DBCD1 16.94%, #3DDCF1 83.14%);
  position: relative;
}
@media (max-width: 415px) {
  .banner {
    margin: 70px 0px 0px 0px;
  }
}
.banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 82px 0px 82px 0px;
}
@media (max-width: 415px) {
  .banner__container {
    padding: 0px 0px 244px 0px;
    flex-direction: column;
  }
}
.banner__text {
  width: 579px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}
@media (max-width: 415px) {
  .banner__text {
    width: 344px;
    gap: 0px;
  }
}
.banner__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 53px;
  color: var(--color-white);
}
@media (max-width: 415px) {
  .banner__title {
    font-size: 28px;
    line-height: 36px;
    margin: 42px 0px 0px 0px;
    text-align: center;
  }
}
.banner__description {
  font-size: 18px;
  line-height: 27px;
  color: var(--color-white);
}
@media (max-width: 415px) {
  .banner__description {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: 13px 0px 0px 0px;
    padding: 0px 10px;
  }
}
.banner__image {
  max-width: 613.38px;
  position: absolute;
  bottom: 0px;
  left: 861px;
}
@media (max-width: 415px) {
  .banner__image {
    width: 236px;
    height: 182px;
    bottom: 0px;
    left: 59px;
  }
}
.banner__img {
  width: 100%;
  height: 100%;
}
.banner__button {
  margin-top: 5px;
  margin-right: 2px;
}
@media (max-width: 415px) {
  .banner__button {
    margin: 50px 0px 0px 0px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn_banner {
  width: 282px;
  height: 78px;
  background: var(--color-white);
  border-radius: 2px;
  gap: 36px;
}
@media (max-width: 415px) {
  .btn_banner {
    width: 232px;
    height: 54px;
    gap: 19px;
  }
}
.btn__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .btn__text {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
  }
}

.nav__container {
  padding: 47px 0px 0px 0px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-left: 7px;
}
.nav__item:first-child {
  margin-left: 0px;
}
.nav__item::after {
  display: inline-block;
  content: "/";
  margin-left: 7px;
}
.nav__item:last-child::after {
  display: none;
}
.nav__link {
  font-size: 15px;
  line-height: 19px;
  color: #858A93;
}
.nav__link_active {
  font-weight: 500px;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .nav {
    display: none;
  }
}

@media (max-width: 415px) {
  .assortment {
    position: relative;
  }
}
.assortment__bottom {
  display: none;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 120px;
}
@media (max-width: 415px) {
  .assortment__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.assortment__showmore {
  display: block;
  border-bottom: 2px solid var(--color-main);
  width: 102px;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  height: 26px;
  color: var(--color-main);
}
.assortment__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: var(--color-main);
  margin-top: 64px;
}
@media (max-width: 415px) {
  .assortment__title {
    font-size: 25px;
    line-height: 35px;
    margin: 69px 0px 0px 0px;
  }
}
.assortment__body {
  margin-top: 58px;
  display: flex;
}
@media (max-width: 415px) {
  .assortment__body {
    margin: 69px 0px 0px 0px;
  }
}
.assortment__content {
  margin-left: 35px;
}
@media (max-width: 415px) {
  .assortment__content {
    margin: 0px 0px 0px 0px;
  }
}
.assortment__productslist {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 354px 354px 354px;
  grid-gap: 34px;
}
@media (max-width: 415px) {
  .assortment__productslist {
    grid-template-columns: 177px 177px;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;
    gap: 17px;
    margin-top: 38px;
    max-height: 1169px;
  }
}

.sidefilters {
  width: 355px;
  height: 1910px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 30px 30px 30px 29px;
  transition: 0.4s;
}
@media (max-width: 415px) {
  .sidefilters {
    display: block;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow-y: scroll;
    padding: 30px 30px 145px 29px;
  }
  .sidefilters.active {
    left: 0%;
  }
  .sidefilters.active .sidefilters__buttons {
    left: 0%;
  }
}
.sidefilters__buttons {
  display: none;
  position: fixed;
  bottom: 0px;
  left: -100%;
  padding: 28px 41px 33px 22px;
  width: 100%;
  background-color: var(--color-white);
  transition: 0.4s;
}
@media (max-width: 415px) {
  .sidefilters__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.sidefilters__apply-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  height: 54px;
  background: #38D3E8;
  border-radius: 2px;
}
.sidefilters__apply-btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.sidefilters__apply-btn p::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 11px;
  background: url("./../img/icons/btn-more-wt.svg") no-repeat center center;
  margin-right: 15px;
}
.sidefilters__cancel-btn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  display: flex;
  align-items: center;
}
.sidefilters__cancel-btn p::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 17px;
  background: url("./../img/burger-close.svg") no-repeat center center;
  margin-left: 14px;
}
.sidefilters__header {
  display: flex;
  align-items: center;
}
.sidefilters__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-main);
  margin-right: auto;
}
.sidefilters__reset {
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  margin-right: 13px;
}
@media (max-width: 415px) {
  .sidefilters__reset {
    display: none;
  }
}
.sidefilters__burger {
  display: flex;
  align-items: center;
  margin-right: 1px;
}
@media (max-width: 415px) {
  .sidefilters__burger {
    display: none;
  }
}
.sidefilters__body {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
}
.sidefilter_brands {
  margin-top: 60px;
}
.sidefilter_prices {
  margin-top: 64px;
}
.sidefilter_sections {
  margin-top: 103px;
}
.sidefilter_webdistances {
  margin-top: 60px;
}
.sidefilter_squares {
  margin-top: 60px;
}
.sidefilter_colors {
  margin-top: 57px;
}
.sidefilter__title-price {
  font-size: 18px;
  line-height: 23px;
  margin-left: -1px;
}
.sidefilter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-left: -1px;
  cursor: pointer;
}
.sidefilter__title::after {
  content: "";
  width: 13px;
  height: 8px;
  background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
  margin-right: 1px;
  margin-top: 2px;
  transition: 0.4s;
}
.sidefilter__title-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.sidefilter__content {
  margin-top: 26px;
}
.sidefilter__content_color {
  margin-top: 27px;
}
.sidefilter__group, .sidefilter__content {
  display: none;
  transition: 0.4s;
}
.sidefilter :checked + .sidefilter__title::after {
  transform: rotate(180deg);
}
.sidefilter :checked ~ .sidefilter__content {
  display: block;
}
.sidefilter__input {
  margin-top: 16px;
}
.sidefilter__input:first-child {
  margin-top: 0px;
}
.sidefilter__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.sidefilter__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidefilter__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--color-white);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.sidefilter__checkbox:checked + label::before {
  background-image: url("./../img/icons/checked.svg");
}
.sidefilter__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
.sidefilter__price-slider {
  margin-top: 38px;
}

.priceSlider {
  position: relative;
  height: 3px;
  background: #DEE1E8;
}
.priceSlider__block-min, .priceSlider__block-max {
  width: 3px;
  height: 18px;
  position: absolute;
  left: 0;
  top: -7px;
  background: #38D3E8;
  border-radius: 25px;
  z-index: 1;
}
.priceSlider__block-max {
  left: 95%;
}
.priceSlider__color-range {
  position: absolute;
  background: #38D3E8;
  width: 95%;
  height: 3px;
  left: 3px;
}
.colorinp {
  display: flex;
  align-items: center;
  gap: 17px;
}
.colorinp_2 {
  margin-top: 16px;
}
.colorinp_3 {
  margin-top: 16px;
}
.colorinp_4 {
  margin-top: 20px;
}
.colorinp_5 {
  margin-top: 19px;
}
.colorinp_6 {
  margin-top: 19px;
}
.colorinp_7 {
  margin-top: 19px;
}
.colorinp_8 {
  margin-top: 19px;
}
.colorinp_9 {
  margin-top: 19px;
}
.colorinp__colorlink {
  display: flex;
  align-items: center;
  gap: 22px;
  transition: 0.4s;
}
.colorinp__colorlink:hover {
  cursor: pointer;
}
.colorinp__colorlink:hover .colorinp__preview {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFFFF;
  box-shadow: 2px 7px 10px rgba(142, 148, 170, 0.15);
}
.colorinp__colorlink:hover .colorinp__colorname {
  color: var(--color-main);
}
.colorinp__colorlink_active {
  gap: 22px;
}
.colorinp__colorlink_active .colorinp__preview {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFFFF;
  box-shadow: 2px 7px 10px rgba(142, 148, 170, 0.15);
}
.colorinp__colorlink_active .colorinp__colorname {
  color: var(--color-main);
}
.colorinp__preview {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 600px;
}
.colorinp__preview_red {
  background: #FF6060;
}
.colorinp__preview_yellow {
  background: #FFDC60;
}
.colorinp__preview_green {
  background: #72E191;
}
.colorinp__preview_blue {
  background: #6070FF;
}
.colorinp__preview_purple {
  background: #A660FF;
}
.colorinp__preview_pink {
  background: #FF60AC;
}
.colorinp__preview_beige {
  background: #EEC3AB;
}
.colorinp__preview_white {
  background: #FFFFFF;
}
.colorinp__preview_black {
  background: #292929;
}
.colorinp__preview_grey {
  background: #9D9D9D;
}
.colorinp__colorname {
  font-size: 15px;
  line-height: 19px;
  color: #7E838C;
}
.colorinp__cancel {
  display: none;
  width: 6.86px;
  height: 7px;
  background: url("./../img/icons/cross-colorfilter.svg") no-repeat center center;
}
.colorinp__cancel:hover {
  cursor: pointer;
}
.colorinp__cancel_active {
  display: block;
}

.topfilters {
  width: 1131px;
  height: 87px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 0px 42px 0px 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 415px) {
  .topfilters {
    width: 372px;
    height: 86px;
    padding: 0px 19px 0px 20px;
  }
}
.topfilters__filter {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--color-main);
  transition: 0.4s;
}
.topfilters__filter::before {
  width: 12px;
  height: 16px;
  display: inline-block;
  content: "";
  background: url("./../img/icons/filter-charts.svg") no-repeat center center;
  margin-right: 15px;
}
.topfilters__filter:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .topfilters__filter {
    display: flex;
    align-items: center;
  }
}
.topfilters__sorting {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: var(--color-main);
  transition: 0.4s;
}
.topfilters__sorting::after {
  width: 12px;
  height: 8px;
  display: inline-block;
  content: "";
  background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
  margin-left: 14px;
}
.topfilters__sorting:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .topfilters__sorting {
    display: flex;
    align-items: center;
  }
}
.topfilters__all {
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .topfilters__all {
    position: absolute;
    top: 49px;
    left: 23px;
  }
}
.topfilters__products {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #7E838C;
}
.topfilters__count {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .topfilters__count {
    margin-right: 5px;
  }
}
.pricefilter {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media (max-width: 415px) {
  .pricefilter {
    display: none;
  }
}
.pricefilter__name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7E838C;
}
.pricefilter__selectbox {
  display: flex;
  align-items: center;
  gap: 19px;
}
.pricefilter__selected {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.pricefilter__btn {
  display: block;
  width: 13px;
  height: 8px;
  background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
}

.productcard {
  display: block;
  width: 354px;
  height: 487px;
  background: #FFFFFF;
  border-radius: 2px;
  position: relative;
}
@media (max-width: 415px) {
  .productcard {
    width: 177px;
    height: 281px;
  }
}
.productcard_stock .productcard__stock {
  display: flex;
}
.productcard_stock .productcard__stockprice {
  display: block;
}
.productcard__stock {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 36px;
  background: url("./../img/icons/stock.svg") no-repeat 17px center;
  background-color: #F31B4F;
  border-radius: 2px 0px 0px 0px;
  align-items: center;
  padding-left: 43px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 415px) {
  .productcard__stock {
    width: 80px;
    height: 29px;
    font-size: 12.2917px;
    line-height: 16px;
    background: url("./../img/icons/stock.svg") no-repeat 9px center;
    background-color: #F31B4F;
    padding: 0px 0px 0px 29px;
  }
}
.productcard__photo {
  width: 292px;
  height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 34px;
}
@media (max-width: 415px) {
  .productcard__photo {
    width: 142px;
    height: 144px;
    margin-top: 11px;
  }
}
@media (max-width: 415px) {
  .productcard__img {
    width: 100%;
    height: 100%;
  }
}
.productcard__body {
  position: absolute;
  left: 29px;
  top: 337px;
}
@media (max-width: 415px) {
  .productcard__body {
    left: 16px;
    top: 163px;
  }
}
.productcard__name {
  font-size: 16px;
  line-height: 25px;
}
@media (max-width: 415px) {
  .productcard__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    width: 151px;
    height: 57px;
    overflow: hidden;
  }
}
.productcard__price {
  margin-top: 44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}
.productcard__price::after {
  content: "₽";
  font-size: 13px;
  line-height: 25px;
  position: absolute;
  left: 59px;
  top: -2px;
}
@media (max-width: 415px) {
  .productcard__price::after {
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    left: 46px;
    top: -2px;
  }
}
@media (max-width: 415px) {
  .productcard__price {
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0px 0px 0px;
  }
}
.productcard__stockprice {
  display: none;
  position: absolute;
  bottom: 34px;
  left: 122px;
  font-size: 15px;
  line-height: 14px;
  color: #7E838C;
}
.productcard__stockprice::before {
  content: "";
  width: 63.97px;
  height: 0px;
  border: 1.2px solid #F31B4F;
  transform: rotate(-9.99deg);
  position: absolute;
  left: -12px;
  bottom: 7px;
}
@media (max-width: 415px) {
  .productcard__stockprice::before {
    width: 47.72px;
    border: 0.895238px solid #F31B4F;
    left: -7px;
    bottom: 4px;
  }
}
.productcard__stockprice::after {
  content: "₽";
  font-size: 8px;
  line-height: 14px;
  position: absolute;
  left: 41px;
  top: -6px;
}
@media (max-width: 415px) {
  .productcard__stockprice::after {
    font-weight: 500;
    font-size: 7px;
    line-height: 11px;
    left: 34px;
    top: -2px;
  }
}
@media (max-width: 415px) {
  .productcard__stockprice {
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    left: 90px;
    bottom: 19px;
  }
}
.productcard__cart {
  display: block;
  width: 82px;
  height: 82px;
  background: url("./../img/icons/cart-white.svg") no-repeat center center;
  background-color: #38D3E8;
  transition: 0.4s;
  position: absolute;
  right: 0;
  bottom: 0;
}
.productcard__cart:hover {
  cursor: pointer;
  opacity: 0.7;
}
@media (max-width: 415px) {
  .productcard__cart {
    width: 43px;
    height: 43px;
  }
}

@media (max-width: 415px) {
  .seotext {
    display: none;
  }
}
.seotext__container {
  margin-top: 194px;
  padding-left: 213px;
  padding-bottom: 181px;
}
.seotext p:nth-child(1) {
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
}
.seotext p:nth-child(2) {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 48px;
}
.seotext p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 26px;
}
.seotext p:nth-child(4) {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-top: 50px;
}
.seotext p:nth-child(5) {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 28px;
}
.seotext p:nth-child(6) {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-top: 26px;
}

.footer {
  background: #FFFFFF;
}
.footer__container {
  padding: 59px 0px 33px 0px;
}
@media (max-width: 415px) {
  .footer__container {
    padding: 50px 0px 46px 0px;
  }
}
.footer__main {
  display: grid;
  grid-template-columns: 280px 247px 247px 148px;
  grid-gap: 199px;
  padding-bottom: 57px;
  border-bottom: 1px solid rgba(217, 218, 225, 0.8);
}
@media (max-width: 415px) {
  .footer__main {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding-bottom: 46px;
  }
}
@media (max-width: 415px) {
  .footer__column:nth-child(2) {
    margin-top: 52px;
  }
  .footer__column:nth-child(3) {
    margin-top: 28px;
  }
  .footer__column:nth-child(4) {
    margin-top: 30px;
  }
}
.footer__phone-number {
  margin-top: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.footer__phone-number::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 21px;
  background: url("./../img/icons/phone-bl.svg") no-repeat center center;
  margin-right: 14px;
}
@media (max-width: 415px) {
  .footer__phone-number {
    margin: 37px 0px 0px 0px;
  }
}
.footer__phone-dates {
  margin-top: 18px;
}
.footer__phone-date {
  font-size: 16px;
  line-height: 28px;
  color: #7E838C;
}
.footer__mail {
  margin-top: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.footer__mail::before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 16px;
  background: url("./../img/icons/mail-bl.svg") no-repeat center center;
  margin-right: 14px;
}
@media (max-width: 415px) {
  .footer__mail {
    margin: 46px 0px 0px 0px;
  }
}
.footer__networks {
  margin-top: 60px;
  margin-left: -2px;
}
.footer__networks p {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
@media (max-width: 415px) {
  .footer__networks {
    margin: 42px 0px 0px -4px;
  }
}
.footer__socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__social {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #7E838C;
  display: flex;
  align-items: center;
  margin-left: 2px;
}
.footer__social_vk::before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 13px;
  background: url("./../img/icons/vk.svg") no-repeat center center;
  margin-right: 11px;
}
.footer__social_insta::before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 13px;
  background: url("./../img/icons/insta.svg") no-repeat center center;
  margin-right: 11px;
}
.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-top: 7px;
  display: block;
}
.footer__list {
  margin-top: 25px;
}
@media (max-width: 415px) {
  .footer__list {
    margin-top: 16px;
  }
}
.footer__link {
  font-size: 16px;
  line-height: 33px;
  color: #7E838C;
  transition: 0.4s;
}
.footer__link:hover {
  cursor: pointer;
  color: var(--color-main);
}
.footer__privatinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 166px;
  padding: 43px 0px 0px 0px;
}
@media (max-width: 415px) {
  .footer__privatinfo {
    flex-direction: column;
    align-items: start;
    gap: 0px;
  }
}
.footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  transition: 0.4s;
}
.footer__copyright:hover {
  cursor: pointer;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .footer__copyright {
    margin: 17px 0px 0px 0px;
  }
}
.footer__politics {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  transition: 0.4s;
}
.footer__politics:hover {
  cursor: pointer;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .footer__politics {
    margin: 31px 0px 0px 0px;
  }
}
.footer__process {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  transition: 0.4s;
}
.footer__process:hover {
  cursor: pointer;
  color: var(--color-main);
}
@media (max-width: 415px) {
  .footer__process {
    margin: 29px 0px 0px 0px;
  }
}
.footer__request {
  display: flex;
  align-items: center;
}
.footer__request p {
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
}
@media (max-width: 415px) {
  .footer__request {
    margin: 61px 0px 0px 0px;
  }
}
.footer__request-logo {
  margin-left: 20px;
}
.footer__request-logo p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 350;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.footer__request-logo p::before {
  display: inline-block;
  content: "";
  width: 31px;
  height: 31px;
  background: url("./../img/logo/logo-requestDesign.svg") no-repeat center center;
  margin-right: 10px;
}
.footer__request-logo p span {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}