@charset "UTF-8";
/* =====ОБНУЛЕНИЕ СТИЛЕЙ===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  font-display: swap;
  src: url("./../fonts/Euclid Circular A Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("./../fonts/Gilroy-Medium.woff2") format("woff2"), url("./../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("./../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
:root {
  --color-main: #2B2E34;
  --color-white: #FFFFFF;
}

[class*=__container] {
  max-width: 1521px;
  margin: 0px auto;
}

.body {
  font-family: "Euclid Circular A";
  font-weight: 400;
  font-style: normal;
  color: var(--color-main);
  background-color: #FBFBFB;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 17px 0px 30px 0px;
}
.header__upmenu {
  display: flex;
  align-items: center;
  padding-bottom: 47.11px;
}
.header__logo {
  margin-left: 76.62px;
}
.header__search {
  margin-left: 72px;
  width: 815px;
  height: 54px;
  background: url("./../img/icons/search.svg") no-repeat 30.88px center;
  background-color: #F7F7F7;
  padding: 0px 66px;
  font-size: 15px;
  line-height: 19px;
  color: #73737B;
}
.header__buttons {
  margin-top: 2px;
  margin-left: 102px;
  display: flex;
  align-items: center;
}
.header__buttons a {
  transition: 0.4s;
}
.header__buttons a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.header__delivery {
  display: flex;
  align-items: center;
}
.header__cabinet {
  margin-left: 35px;
  display: flex;
  align-items: center;
}
.header__cart {
  margin-left: 34px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__cart::before {
  position: absolute;
  right: -12px;
  top: -8px;
  display: block;
  content: "3";
  width: 16.12px;
  height: 16.12px;
  text-align: center;
  background: #1DBCD2;
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 16.5px;
  color: var(--color-white);
}
.logo {
  display: flex;
  align-items: center;
  gap: 18.38px;
  transition: 0.4s;
}
.logo:hover {
  cursor: pointer;
  opacity: 0.7;
}
.logo__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__title {
  display: flex;
  align-items: center;
  margin-left: -1px;
}
.logo__name {
  font-size: 13px;
  line-height: 16px;
  color: #555555;
  margin-top: 8px;
  margin-left: -1px;
}

.downmenu {
  display: flex;
  align-items: center;
}
.downmenu__items {
  display: flex;
  align-items: center;
}
.downmenu__item {
  transition: 0.4s;
}
.downmenu__item:hover {
  cursor: pointer;
  opacity: 0.7;
}
.downmenu__item_phone {
  margin-left: 168px;
}
.downmenu__item_mail {
  margin-left: 168px;
}
.downmenu__item_edit {
  margin-left: 168px;
}
.downmenu__item_contacts {
  margin-left: 165px;
}
.downmenu__item_contacts .downmenu__link {
  display: flex;
  align-items: center;
  gap: 13px;
}
.downmenu__link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.downmenu__icon {
  display: flex;
  align-items: center;
}
.downmenu__text {
  font-size: 18px;
  line-height: 23px;
  color: var(--color-main);
}

.banner {
  background: linear-gradient(91.79deg, #1DBCD1 16.94%, #3DDCF1 83.14%);
  position: relative;
}
.banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 82px 0px 82px 0px;
}
.banner__text {
  width: 579px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 23px;
}
.banner__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 53px;
  color: var(--color-white);
}
.banner__description {
  font-size: 18px;
  line-height: 27px;
  color: var(--color-white);
}
.banner__image {
  max-width: 613.38px;
  position: absolute;
  bottom: 0px;
  left: 861px;
}
.banner__img {
  width: 100%;
  height: 100%;
}
.banner__button {
  margin-top: 5px;
  margin-right: 2px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.btn_banner {
  width: 282px;
  height: 78px;
  background: var(--color-white);
  border-radius: 2px;
  gap: 36px;
}
.btn__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.nav__container {
  padding: 47px 0px 0px 0px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-left: 7px;
}
.nav__item:first-child {
  margin-left: 0px;
}
.nav__item::after {
  display: inline-block;
  content: "/";
  margin-left: 7px;
}
.nav__item:last-child::after {
  display: none;
}
.nav__link {
  font-size: 15px;
  line-height: 19px;
  color: #858A93;
}
.nav__link_active {
  font-weight: 500px;
  color: var(--color-main);
}

.assortment__title {
  font-size: 40px;
  line-height: 53px;
  color: var(--color-main);
  margin-top: 64px;
}
.assortment__body {
  margin-top: 58px;
  display: flex;
}
.assortment__content {
  margin-left: 35px;
}
.assortment__productslist {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 354px 354px 354px;
  grid-gap: 34px;
}

.sidefilters {
  width: 355px;
  height: 1910px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 30px 30px 30px 29px;
}
.sidefilters__header {
  display: flex;
  align-items: center;
}
.sidefilters__title {
  font-size: 22px;
  line-height: 28px;
  color: var(--color-main);
  margin-right: auto;
}
.sidefilters__reset {
  font-size: 16px;
  line-height: 20px;
  color: #7E838C;
  margin-right: 13px;
}
.sidefilters__burger {
  display: flex;
  align-items: center;
  margin-right: 1px;
}
.sidefilters__body {
  margin-top: 59px;
  display: flex;
  flex-direction: column;
}
.sidefilter_brands {
  margin-top: 60px;
}
.sidefilter_prices {
  margin-top: 64px;
}
.sidefilter_sections {
  margin-top: 103px;
}
.sidefilter_webdistances {
  margin-top: 60px;
}
.sidefilter_squares {
  margin-top: 60px;
}
.sidefilter_colors {
  margin-top: 57px;
}
.sidefilter__title-price {
  font-size: 18px;
  line-height: 23px;
  margin-left: -1px;
}
.sidefilter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  margin-left: -1px;
  cursor: pointer;
}
.sidefilter__title::after {
  content: "";
  width: 13px;
  height: 8px;
  background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
  margin-right: 1px;
  margin-top: 2px;
  transition: 0.4s;
}
.sidefilter__content {
  margin-top: 26px;
}
.sidefilter__content_color {
  margin-top: 27px;
}
.sidefilter__group, .sidefilter__content {
  display: none;
  transition: 0.4s;
}
.sidefilter :checked + .sidefilter__title::after {
  transform: rotate(180deg);
}
.sidefilter :checked ~ .sidefilter__content {
  display: block;
}
.sidefilter__input {
  margin-top: 16px;
}
.sidefilter__input:first-child {
  margin-top: 0px;
}
.sidefilter__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.sidefilter__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sidefilter__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  background: var(--color-white);
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
.sidefilter__checkbox:checked + label::before {
  background-image: url("./../img/icons/checked.svg");
}
.sidefilter__label {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
.sidefilter__price-slider {
  margin-top: 38px;
}

.priceSlider {
  position: relative;
  height: 3px;
  background: #DEE1E8;
}
.priceSlider__block-min, .priceSlider__block-max {
  width: 3px;
  height: 18px;
  position: absolute;
  left: 0;
  top: -7px;
  background: #38D3E8;
  border-radius: 25px;
  z-index: 1;
}
.priceSlider__block-max {
  left: 95%;
}
.priceSlider__color-range {
  position: absolute;
  background: #38D3E8;
  width: 95%;
  height: 3px;
  left: 3px;
}
.colorinp {
  display: flex;
  align-items: center;
  gap: 17px;
}
.colorinp_2 {
  margin-top: 16px;
}
.colorinp_3 {
  margin-top: 16px;
}
.colorinp_4 {
  margin-top: 20px;
}
.colorinp_5 {
  margin-top: 19px;
}
.colorinp_6 {
  margin-top: 19px;
}
.colorinp_7 {
  margin-top: 19px;
}
.colorinp_8 {
  margin-top: 19px;
}
.colorinp_9 {
  margin-top: 19px;
}
.colorinp__colorlink {
  display: flex;
  align-items: center;
  gap: 22px;
}
.colorinp__colorlink_active {
  gap: 22px;
}
.colorinp__colorlink_active .colorinp__preview {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFFFF;
  box-shadow: 2px 7px 10px rgba(142, 148, 170, 0.15);
}
.colorinp__colorlink_active .colorinp__colorname {
  color: var(--color-main);
}
.colorinp__preview {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 600px;
}
.colorinp__preview_red {
  background: #FF6060;
}
.colorinp__preview_yellow {
  background: #FFDC60;
}
.colorinp__preview_green {
  background: #72E191;
}
.colorinp__preview_blue {
  background: #6070FF;
}
.colorinp__preview_purple {
  background: #A660FF;
}
.colorinp__preview_pink {
  background: #FF60AC;
}
.colorinp__preview_beige {
  background: #EEC3AB;
}
.colorinp__preview_white {
  background: #FFFFFF;
}
.colorinp__preview_black {
  background: #292929;
}
.colorinp__preview_grey {
  background: #9D9D9D;
}
.colorinp__colorname {
  font-size: 15px;
  line-height: 19px;
  color: #7E838C;
}
.colorinp__cancel {
  display: none;
  width: 6.86px;
  height: 7px;
  background: url("./../img/icons/cross-colorfilter.svg") no-repeat center center;
}
.colorinp__cancel_active {
  display: block;
}

.topfilters {
  width: 1131px;
  height: 87px;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 0px 42px 0px 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topfilters__all {
  display: flex;
  align-items: center;
}
.topfilters__products {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #7E838C;
}
.topfilters__count {
  font-size: 18px;
  color: var(--color-main);
}
.pricefilter {
  display: flex;
  align-items: center;
  gap: 9px;
}
.pricefilter__name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7E838C;
}
.pricefilter__selectbox {
  display: flex;
  align-items: center;
  gap: 19px;
}
.pricefilter__selected {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.pricefilter__btn {
  display: block;
  width: 13px;
  height: 8px;
  background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
}

.productcard {
  display: block;
  width: 354px;
  height: 487px;
  background: #FFFFFF;
  border-radius: 2px;
  position: relative;
}
.productcard_stock .productcard__stock {
  display: flex;
}
.productcard_stock .productcard__stockprice {
  display: block;
}
.productcard__stock {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 36px;
  background: url("./../img/icons/stock.svg") no-repeat 17px center;
  background-color: #F31B4F;
  border-radius: 2px 0px 0px 0px;
  align-items: center;
  padding-left: 43px;
  font-size: 15px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.9);
}
.productcard__photo {
  width: 292px;
  height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  margin-top: 34px;
}
.productcard__body {
  position: absolute;
  left: 29px;
  top: 337px;
}
.productcard__name {
  font-size: 16px;
  line-height: 25px;
}
.productcard__price {
  margin-top: 44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  position: relative;
}
.productcard__price::after {
  content: "₽";
  font-size: 13px;
  line-height: 25px;
  position: absolute;
  left: 59px;
  top: -2px;
}
.productcard__stockprice {
  display: none;
  position: absolute;
  bottom: 34px;
  left: 122px;
  font-size: 15px;
  line-height: 14px;
  color: #7E838C;
}
.productcard__stockprice::before {
  content: "";
  width: 63.97px;
  height: 0px;
  border: 1.2px solid #F31B4F;
  transform: rotate(-9.99deg);
  position: absolute;
  left: -12px;
  bottom: 7px;
}
.productcard__stockprice::after {
  content: "₽";
  font-size: 8px;
  line-height: 14px;
  position: absolute;
  left: 41px;
  top: -6px;
}
.productcard__cart {
  display: block;
  width: 82px;
  height: 82px;
  background: url("./../img/icons/cart-white.svg") no-repeat center center;
  background-color: #38D3E8;
  transition: 0.4s;
  position: absolute;
  right: 0;
  bottom: 0;
}
.productcard__cart:hover {
  cursor: pointer;
  opacity: 0.7;
}