@import "_normalize";
@import "_fonts";
@import "_variables";

[class*="__container"] {
    max-width: 1521px;
    margin: 0px auto;

    @media (max-width: 415px) {
        max-width: 373px;
    }
}

.scroll-lock{
    overflow: hidden;
}

.body {
    font-family: 'Euclid Circular A';
    font-weight: 400;
    font-style: normal;
    color: var(--color-main);
    background-color: #FBFBFB;
}

// <========== HEADER ==========>

.header {
    @media (max-width: 415px) {
        position: relative;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 17px 0px 30px 0px;
        @media (max-width: 415px) {
            padding: 18px 0px 0px 0px;
        }
    }

    &__upmenu {
        display: flex;
        align-items: center;
        padding-bottom: 47.11px;
        @media (max-width: 415px) {
            padding: 0px 0px 0px 0px;
            flex-wrap: wrap;
            
        }
    }

    &__burger-img {
        @media (max-width: 415px) {
            width: 25px;
            height: 18px;
        }
    }

    &__logo {
        margin-left: 76.62px;
        @media (max-width: 415px) {
            margin: 0px 0px 0px 23px;
        }
    }

    &__search {
        margin-left: 72px;
        width: 815px;
        height: 54px;
        background: url("./../img/icons/search.svg") no-repeat 30.88px center;
        background-color: #F7F7F7;
        padding: 0px 66px;
        font-size: 15px;
        line-height: 19px;
        color: #73737B;
        @media (max-width: 415px) {
            background: url("./../img/icons/search.svg") no-repeat 19.88px center;
            position: absolute;
            bottom: -70px;
            left: 0px;
            order: 4;
            width: 100vw;
            padding: 0px 0px 0px 55px;
            margin: 17px 0px 0px 0px;
        }
    }

    &__buttons {
        margin-top: 2px;
        margin-left: 102px;
        display: flex;
        align-items: center;

        a {
            transition: 0.4s;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
        }

        @media (max-width: 415px) {
            margin: 0px 0px 0px 24px;
        }
    }

    &__delivery {
        display: flex;
        align-items: center;
        @media (max-width: 415px) {
            margin: 0px 0px 0px 0px;
        }
    }

    &__cabinet {
        margin-left: 35px;
        display: flex;
        align-items: center;
        @media (max-width: 415px) {
            margin: 0px 0px 0px 16px;
        }
    }

    &__cart {
        margin-left: 34px;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            position: absolute;
            right: -12px;
            top: -8px;
            display: block;
            content: "3";
            width: 16.12px;
            height: 16.12px;
            text-align: center;
            background: #1DBCD2;
            border-radius: 50%;
            font-weight: 700;
            font-size: 10px;
            line-height: 16.5px;
            color: var(--color-white);
            @media (max-width: 415px) {
                display: none;
            }
        }

        @media (max-width: 415px) {
            margin: 0px 0px 0px 18px;
        }
    }

    &__downmenu {
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 18.38px;
    transition: 0.4s;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    &__image {
        @media (max-width: 415px) {
            width: 25px;
            height: 36px;
            &_footer {
                width: 42px;
                height: 65px;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-left: -1px;
        @media (max-width: 415px) {
            width: 154px;
            height: 12px;
            margin-left: -10px;
            &_footer {
                width: 231px;
                height: 17px;
            }
        }
    }

    &__name {
        font-size: 13px;
        line-height: 16px;
        color: #555555;
        margin-top: 8px;
        margin-left: -1px;
        @media (max-width: 415px) {
            display: none;
            &_footer {
                display: block;
            }
        }
    }
}
.downmenu {
    display: flex;
    align-items: center;

    @media (max-width: 415px) {
        display: none;   
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        &_locate {
        }
        &_phone {
            margin-left: 168px;
        }
        &_mail {
            margin-left: 168px;
        }
        &_edit {
            margin-left: 168px;
        }
        &_contacts {
            margin-left: 165px;
            .downmenu__link {
                display: flex;
                align-items: center;
                gap: 13px;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: 18px;
        line-height: 23px;
        color: var(--color-main);
    }
}

// <========== BANNER ==========>

.banner {
    background: linear-gradient(91.79deg, #1DBCD1 16.94%, #3DDCF1 83.14%);
    position: relative;
    @media (max-width: 415px) {
        margin: 70px 0px 0px 0px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 82px 0px 82px 0px;
        @media (max-width: 415px) {
            padding: 0px 0px 244px 0px;
            flex-direction: column;
        }
    }

    &__text {
        width: 579px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 23px;
        @media (max-width: 415px) {
            width: 344px;
            gap: 0px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 42px;
        line-height: 53px;
        color: var(--color-white);
        @media (max-width: 415px) {
            font-size: 28px;
            line-height: 36px;
            margin: 42px 0px 0px 0px;
            text-align: center;
        }
    }

    &__description {
        font-size: 18px;
        line-height: 27px;
        color: var(--color-white);
        @media (max-width: 415px) {
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            margin: 13px 0px 0px 0px;
            padding: 0px 10px;
        }
    }

    &__image {
        max-width: 613.38px;
        position: absolute;
        bottom: 0px;
        left: 861px;
        @media (max-width: 415px) {
            width: 236px;
            height: 182px;
            bottom: 0px;
            left: 59px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__button {
        margin-top: 5px;
        margin-right: 2px;
        @media (max-width: 415px) {
            margin: 50px 0px 0px 0px;
        }
    }
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &_banner {
        width: 282px;
        height: 78px;
        background: var(--color-white);
        border-radius: 2px;
        gap: 36px;
        @media (max-width: 415px) {
            width: 232px;
            height: 54px;
            gap: 19px;
        }
    }

    &__img {
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: var(--color-main);
        @media (max-width: 415px) {
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.02em;
        }
    }
}

// <========== NAV ==========>

.nav {

    &__container {
        padding: 47px 0px 0px 0px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 7px;
        &:first-child {
            margin-left: 0px;
        }
        &::after {
            display: inline-block;
            content: '/';
            margin-left: 7px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    &__link {
        font-size: 15px;
        line-height: 19px;
        color: #858A93;

        &_active {
            font-weight: 500px;
            color: var(--color-main);
        }
    }

    @media (max-width: 415px) {
        display: none;
    }
}

// <========== ASSORTMENT ==========>

.assortment {
    @media (max-width: 415px) {
        position: relative;
    }

    &__container {
    }

    &__bottom {
        display: none;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 120px;
        @media (max-width: 415px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__showmore {
        display: block;
        border-bottom: 2px solid var(--color-main);
        width: 102px;
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        height: 26px;
        color: var(--color-main);
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
        color: var(--color-main);
        margin-top: 64px;
        @media (max-width: 415px) {
            font-size: 25px;
            line-height: 35px;
            margin: 69px 0px 0px 0px;
        }
    }

    &__body {
        margin-top: 58px;
        display: flex;
        @media (max-width: 415px) {
            margin: 69px 0px 0px 0px;
        }
    }

    &__sidefilters {
    }

    &__content {
        margin-left: 35px;
        @media (max-width: 415px) {
            margin: 0px 0px 0px 0px;
        }
    }

    &__topfilters {
    }

    &__productslist {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 354px 354px 354px;
        grid-gap: 34px;
        @media (max-width: 415px) {
            grid-template-columns: 177px 177px;
            grid-template-rows: repeat(4, 1fr);
            grid-auto-rows: 0;
            overflow-y: hidden;
            gap: 17px;
            margin-top: 38px;
            max-height: 1169px;
        }
    }
}

// <========== SIDEFILTERS ==========>

.sidefilters {
    width: 355px;
    height: 1910px;
    background: #F4F4F4;
    border-radius: 3px;
    padding: 30px 30px 30px 29px;
    transition: 0.4s;

    @media (max-width: 415px) {
        display: block;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 9999;
        overflow-y: scroll;
        padding: 30px 30px 145px 29px;

        &.active {
            left: 0%;

            .sidefilters__buttons {
                
                left: 0%;
            }
        }
    }

    &__buttons {
        display: none;
        position: fixed;
        bottom: 0px;
        left: -100%;
        padding: 28px 41px 33px 22px;
        width: 100%;
        background-color: var(--color-white);
        transition: 0.4s;
        @media (max-width: 415px) {
            display: flex;
                align-items: center;
                justify-content: space-between;
        }
    }

    &__apply-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 203px;
        height: 54px;
        background: #38D3E8;
        border-radius: 2px;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            &::before {
                display: inline-block;
                content: '';
                width: 28px;
                height: 11px;
                background: url('./../img/icons/btn-more-wt.svg') no-repeat center center;
                margin-right: 15px;
            }
        }
    }

    &__cancel-btn {
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #7E838C;
            display: flex;
            align-items: center;
            &::after {
                display: inline-block;
                content: '';
                width: 18px;
                height: 17px;
                background: url("./../img/burger-close.svg") no-repeat center center;
                margin-left: 14px;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        color: var(--color-main);
        margin-right: auto;
    }

    &__reset {
        font-size: 16px;
        line-height: 20px;
        color: #7E838C;
        margin-right: 13px;
        @media (max-width: 415px) {
            display: none;
        }
    }

    &__burger {
        display: flex;
        align-items: center;
        margin-right: 1px;
        @media (max-width: 415px) {
            display: none;
        }
    }

    &__burger-img {
    }

    &__body {
        margin-top: 59px;
        display: flex;
        flex-direction: column;
        // gap: 60px;
    }

    &__sidefilter {
    }
}
.sidefilter {
    &_types {

    }
    &_brands {
        margin-top: 60px;
    }
    &_prices {
        margin-top: 64px;
    }
    &_sections {
        margin-top: 103px;
    }
    &_webdistances {
        margin-top: 60px;
    }
    &_squares {
        margin-top: 60px;
    }
    &_colors {
        margin-top: 57px;
    }
    &__title-price {
        font-size: 18px;
        line-height: 23px;
        margin-left: -1px;
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-left: -1px;
        cursor: pointer;
        &::after {
            content: '';
            width: 13px;
            height: 8px;
            background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
            margin-right: 1px;
            margin-top: 2px;
            transition: 0.4s;
        }
    }

    &__title-price {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
    }

    &__content {
        margin-top: 26px;

        &_color {
            margin-top: 27px;
        }
    }

    &__group, &__content { 
        display: none;
        transition: 0.4s;
    }

    & :checked + &__title::after {
        transform: rotate(180deg);
    }
    & :checked ~ &__content {
        display: block;
    }

    &__input {
        margin-top: 16px;
        &:first-child {
            margin-top: 0px;
        }
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        &+label::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
            flex-grow: 0;
            background: var(--color-white);
            margin-right: 20px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &:checked+label::before {
            background-image: url("./../img/icons/checked.svg");
        }
    }

    &__label {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
    }

    &__price-slider {
        margin-top: 38px;
    }
}
.priceSlider {
	// margin-top: 10px;
	position: relative;
	height: 3px;
	background: #DEE1E8;
	// border: 1px solid #000;

    &__block-min, &__block-max {
        width: 3px;
        height: 18px;
        position: absolute;
        left: 0;
        top: -7px;
        background: #38D3E8;
        // border: 1px solid #000;
        border-radius: 25px;
        z-index: 1;
    }

    &__block-min {

    }

    &__block-max {
        left: 95%;
    }

    &__color-range {
        position: absolute;
        background: #38D3E8;
        width: 95%;
        height: 3px;
        left: 3px;
    }

    &__value {
    }

    &__rub {
    }
}
.colorinp {
    display: flex;
    align-items: center;
    gap: 17px;

    &_1 {
    }
    &_2 {
        margin-top: 16px;
    }
    &_3 {
        margin-top: 16px;
    }
    &_4 {
        margin-top: 20px;
    }
    &_5 {
        margin-top: 19px;
    }
    &_6 {
        margin-top: 19px;
    }
    &_7 {
        margin-top: 19px;
    }
    &_8 {
        margin-top: 19px;
    }
    &_9 {
        margin-top: 19px;
    }

    &__colorlink {
        display: flex;
        align-items: center;
        gap: 22px;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            .colorinp__preview {
                width: 14px;
                height: 14px;
                border: 2px solid #FFFFFF;
                box-shadow: 2px 7px 10px rgba(142, 148, 170, 0.15);
            }

            .colorinp__colorname {
                color: var(--color-main);
            }
        }

        &_active {
            gap: 22px;
            .colorinp__preview {
                width: 14px;
                height: 14px;
                border: 2px solid #FFFFFF;
                box-shadow: 2px 7px 10px rgba(142, 148, 170, 0.15);
            }

            .colorinp__colorname {
                color: var(--color-main);
            }
        }
    }

    &__preview {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 600px;

        &_red {
            background: #FF6060;
        }

        &_yellow {
            background: #FFDC60;
        }

        &_green {
            background: #72E191;
        }

        &_blue {
            background: #6070FF;
        }

        &_purple {
            background: #A660FF;
        }

        &_pink {
            background: #FF60AC;
        }

        &_beige {
            background: #EEC3AB;
        }

        &_white {
            background: #FFFFFF;
        }

        &_black {
            background: #292929;
        }

        &_grey {
            background: #9D9D9D;
        }
    }

    &__colorname {
        font-size: 15px;
        line-height: 19px;
        color: #7E838C;
    }

    &__cancel {
        display: none;
        width: 6.86px;
        height: 7px;
        background: url("./../img/icons/cross-colorfilter.svg") no-repeat center center;
        &:hover {
            cursor: pointer;
        }
        &_active {
            display: block;
        }
    }
}

// <========== TOPFILTERS ==========>

.topfilters {
    width: 1131px;
    height: 87px;
    background: #F4F4F4;
    border-radius: 3px;
    padding: 0px 42px 0px 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 415px) {
        width: 372px;
        height: 86px;
        padding: 0px 19px 0px 20px;
    }

    &__filter {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: var(--color-main);
        transition: 0.4s;
        &::before {
            width: 12px;
            height: 16px;
            display: inline-block;
            content: '';
            background: url("./../img/icons/filter-charts.svg") no-repeat center center;
            margin-right: 15px;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        @media (max-width: 415px) {
            display: flex;
            align-items: center;
        }
    }

    &__sorting {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: var(--color-main);
        transition: 0.4s;
        &::after {
            width: 12px;
            height: 8px;
            display: inline-block;
            content: '';
            background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
            margin-left: 14px;
        }
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        @media (max-width: 415px) {
            display: flex;
            align-items: center;
        }
    }

    &__all {
        display: flex;
        align-items: center;
        @media (max-width: 415px) {
            position: absolute;
            top: 49px;
            left: 23px;
        }
    }

    &__products {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #7E838C;
        
    }

    &__count {
        font-weight: 500;
        font-size: 18px;
        color: var(--color-main);
        @media (max-width: 415px) {
            margin-right: 5px;
        }
    }

    &__pricefilter {
    }
}
.pricefilter {
    display: flex;
    align-items: center;
    gap: 9px;
    @media (max-width: 415px) {
        display: none;
    }

    &__name {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #7E838C;
    }

    &__selectbox {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__selected {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
    }

    &__btn {
        display: block;
        width: 13px;
        height: 8px;
        background: url("./../img/icons/arrow-sort.svg") no-repeat center center;
    }
}

// <========== PRODUCT CARD ==========>

.productcard {
    display: block;
    width: 354px;
    height: 487px;
    background: #FFFFFF;
    border-radius: 2px;
    position: relative;

    @media (max-width: 415px) {
        width: 177px;
        height: 281px;
    }

    &_stock {
        .productcard__stock {
            display: flex;
        }
        .productcard__stockprice {
            display: block;
        }
    }

    &__stock {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 110px;
        height: 36px;
        background: url("./../img/icons/stock.svg") no-repeat 17px center;
        background-color: #F31B4F;
        border-radius: 2px 0px 0px 0px;
        align-items: center;
        padding-left: 43px;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.9);
        @media (max-width: 415px) {
            width: 80px;
            height: 29px;
            font-size: 12.2917px;
            line-height: 16px;
            background: url("./../img/icons/stock.svg") no-repeat 9px center;
            background-color: #F31B4F;
            padding: 0px 0px 0px 29px;
        }
    }

    &__photo {
        width: 292px;
        height: 236px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px auto;
        margin-top: 34px;
        @media (max-width: 415px) {
            width: 142px;
            height: 144px;
            margin-top: 11px;
        }
    }

    &__img {
        @media (max-width: 415px) {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        position: absolute;
        left: 29px;
        top: 337px;
        @media (max-width: 415px) {
            left: 16px;
            top: 163px;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 25px;
        @media (max-width: 415px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            width: 151px;
            height: 57px;
            // white-space: nowrap;
            overflow: hidden;
        }
    }

    &__price {
        margin-top: 44px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        position: relative;
        &::after {
            content: '₽';
            font-size: 13px;
            line-height: 25px;
            position: absolute;
            left: 59px;
            top: -2px;
            @media (max-width: 415px) {
                font-weight: 500;
                font-size: 11px;
                line-height: 20px;
                left: 46px;
                top: -2px;
            }
        }
        @media (max-width: 415px) {
            font-size: 16px;
            line-height: 20px;
            margin: 24px 0px 0px 0px;
        }
    }

    &__stockprice {
        display: none;
        position: absolute;
        bottom: 34px;
        left: 122px;
        font-size: 15px;
        line-height: 14px;
        color: #7E838C;
        &::before {
            content: '';
            width: 63.97px;
            height: 0px;
            border: 1.2px solid #F31B4F;
            transform: rotate(-9.99deg);
            position: absolute;
            left: -12px;
            bottom: 7px;
            @media (max-width: 415px) {
                width: 47.72px;
                border: 0.895238px solid #F31B4F;
                left: -7px;
                bottom: 4px;
            }
        }
        &::after {
            content: '₽';
            font-size: 8px;
            line-height: 14px;
            position: absolute;
            left: 41px;
            top: -6px;
            @media (max-width: 415px) {
                font-weight: 500;
                font-size: 7px;
                line-height: 11px;
                left: 34px;
                top: -2px;
            }
        }
        @media (max-width: 415px) {
            font-weight: 500;
            font-size: 12px;
            line-height: 11px;
            left: 90px;
            bottom: 19px;
        }
    }

    &__cart {
        display: block;
        width: 82px;
        height: 82px;
        background: url("./../img/icons/cart-white.svg") no-repeat center center;
        background-color: #38D3E8;
        transition: 0.4s;
        position: absolute;
        right: 0;
        bottom: 0;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
        @media (max-width: 415px) {
            width: 43px;
            height: 43px;
        }
    }
}

// <========== SEO TEXT ==========>

.seotext {
    @media (max-width: 415px) {
        display: none;
    }
    &__container {
        margin-top: 194px;
        padding-left: 213px;
        padding-bottom: 181px;
    }

    p {
        &:nth-child(1) {
            font-weight: 500;
            font-size: 35px;
            line-height: 44px;
        }
        &:nth-child(2) {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 48px;
        }
        &:nth-child(3) {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 26px;
        }
        &:nth-child(4) {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            margin-top: 50px;
        }
        &:nth-child(5) {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 28px;            
        }
        &:nth-child(6) {
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 26px;
        }
    }
}

// <========== FOOTER ==========>

.footer {
    background: #FFFFFF;

    &__container {
        padding: 59px 0px 33px 0px;
        @media (max-width: 415px) {
            padding: 50px 0px 46px 0px;
        }
    }

    &__main {
        display: grid;
        grid-template-columns: 280px 247px 247px 148px;
        grid-gap: 199px;
        padding-bottom: 57px;
        border-bottom: 1px solid rgba(217, 218, 225, 0.8);
        @media (max-width: 415px) {
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding-bottom: 46px;
        }
    }

    &__column {
        @media (max-width: 415px) {
            &:nth-child(2){
                margin-top: 52px;
            }
            &:nth-child(3){
                margin-top: 28px;
            }
            &:nth-child(4){
                margin-top: 30px;
            }
        }
    }

    &__logo {
    }

    &__phones {
    }

    &__phone-number {
        margin-top: 56px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        &::before {
            display: inline-block;
            content: '';
            width: 20px;
            height: 21px;
            background: url("./../img/icons/phone-bl.svg") no-repeat center center;
            margin-right: 14px;
        }
        @media (max-width: 415px) {
            margin: 37px 0px 0px 0px;
        }
    }

    &__phone-dates {
        margin-top: 18px;
    }

    &__phone-date {
        font-size: 16px;
        line-height: 28px;
        color: #7E838C;
    }

    &__mail {
        margin-top: 56px;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        &::before {
            display: inline-block;
            content: '';
            width: 21px;
            height: 16px;
            background: url("./../img/icons/mail-bl.svg") no-repeat center center;
            margin-right: 14px;
        }
        @media (max-width: 415px) {
            margin: 46px 0px 0px 0px;
        }
    }

    &__networks {
        margin-top: 60px;
        margin-left: -2px;
        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
        }
        @media (max-width: 415px) {
            margin: 42px 0px 0px -4px;
        }
    }

    &__socials {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__social {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #7E838C;
        display: flex;
        align-items: center;
        margin-left: 2px;
        &_vk {
            &::before {
                display: inline-block;
                content: '';
                width: 21px;
                height: 13px;
                background: url("./../img/icons/vk.svg") no-repeat center center;
                margin-right: 11px;
            }
        }

        &_insta {
            &::before {
                display: inline-block;
                content: '';
                width: 21px;
                height: 13px;
                background: url("./../img/icons/insta.svg") no-repeat center center;
                margin-right: 11px;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        margin-top: 7px;
        display: block;
    }

    &__list {
        margin-top: 25px;
        @media (max-width: 415px) {
            margin-top: 16px;
        }
    }

    &__item {
    }

    &__link {
        font-size: 16px;
        line-height: 33px;
        color: #7E838C;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            color: var(--color-main);
        }
    }

    &__privatinfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 166px;
        padding: 43px 0px 0px 0px;
        @media (max-width: 415px) {
            flex-direction: column;
            align-items: start;
            gap: 0px;
        }
    }

    &__copyright {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #7E838C;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            color: var(--color-main);
        }
        @media (max-width: 415px) {
            margin: 17px 0px 0px 0px;
        }
    }

    &__politics {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #7E838C;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            color: var(--color-main);
        }
        @media (max-width: 415px) {
            margin: 31px 0px 0px 0px;
        }
    }

    &__process {
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #7E838C;
        transition: 0.4s;
        &:hover {
            cursor: pointer;
            color: var(--color-main);
        }
        @media (max-width: 415px) {
            margin: 29px 0px 0px 0px;
        }
    }

    &__request {
        display: flex;
        align-items: center;
        p {
            font-size: 16px;
            line-height: 20px;
            color: #7E838C;
        }
        @media (max-width: 415px) {
            margin: 61px 0px 0px 0px;
        }
    }

    &__request-logo {
        margin-left: 20px;
        p {
            font-family: 'Circe';
            font-style: normal;
            font-weight: 350;
            font-size: 17px;
            line-height: 25px;
            display: flex;
            align-items: center;
            &::before {
                display: inline-block;
                content: '';
                width: 31px;
                height: 31px;
                background: url("./../img/logo/logo-requestDesign.svg") no-repeat center center;
                margin-right: 10px;
            }
            span {
                font-family: 'Circe';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}
